


body {
    background-image: url(thomas-lipke-oIuDXlOJSiE-unsplash.jpg);
    background-size: cover;
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    margin: 0;
    padding: 0;
    text-align: center;
}

h1 {
    background-color: #0078d4;
    color: #fff;
    padding: 20px;
    text-align: center;

    
}

ul#post-list {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

li {
    color: rgb(52, 51, 51);
    width: 630px;
    background-color: rgba(239, 239, 239, 0.438);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black; 
    padding: 10px;
    margin: 10px;
}

form {
    width: 80%;
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(239, 239, 239, 0.438);
    border-radius: 5px;
    box-shadow: 3px 3px 3px black; 
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
input[type="date"],
textarea {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button[type="submit"] {
    background-color: #0078d4;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 4px;
    cursor: pointer;
}
